
    <footer class="footer pb-6 bg-primary text-white pt-9 mt-n9">
        <div class="container">
            
            <hr class="my-5">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">
                        <img src="/static/assets/img/themesberg.svg" height="25" class="mb-3" alt="Themesberg Logo">
                    </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">
                        &copy; Mehrez Kristou
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    